{% extends "layout.html.twig" %}


{% block page_title %}
    Accueil
{% endblock %}

{% block content %}

<div class="row contenu">



    {#             ONGLETS & MENU             #}
    {# Nav #}
    {{ render(controller('App\\Controller\\IndexController::navbar')) }}

    {# Onglets #}
    {{ render(controller('App\\Controller\\IndexController::onglets')) }}

    {# Menu #}
    {{ render(controller('App\\Controller\\IndexController::menu')) }}

                {#       --------------------------------------------------------      #}


                            {#         CONTENU PRINCIPAL DE L'INDEX        #}


                            <h1 style="text-align: center; width: 100%; margin-top: 150px;"> Bienvenue sur l'Index </h1>

    <div class="index-container">


        {#         NOTIFICATIONS ET SUGGESTIONS       #}
        <div class="index-notifications"></div>


        {#                CONTENU                 #}
        {% if app.session.get('userName') is not null %}
            {% include 'user/mesrecettes.html.twig' %}
        {% endif %}



    </div>


                            {#       END CONTENU PRINCIPAL DE L'INDEX      #}


                {#       --------------------------------------------------------      #}





    {% endblock %}
