<div class="row">
    <div class="col-xs-3 slidebar slidebar-right">
        <div class="sugg-titre-container">
            <h3 class="sugg-titre">Suggestions</h3>
        </div>

        <div class="sugg-sugg-container">
            <div class="sugg-sugg"></div>
        </div>

        <div class="sugg-contacts-container">
            <div class="sugg-contact"></div>
        </div>

    </div>
</div>