@import url('https://fonts.googleapis.com/css?family=Amatic+SC');



/*-------------------------------- CSS SideBar  --------------------------------------*/
#sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0vh;
    right: 0;
    color: white;
    background-color: white;
}

circle responsive-img {
    width: 100%;
}
#meilleur {
    margin-left:10px;
    font-family: 'Amatic SC', cursive;
    color: black;

}
#recette {
    margin-left:10px;
    font-family: 'Amatic SC', cursive;
    color: black;
}

#logo {
    padding-top: 7px;
}