<!-- ---------------------------------- menu navigation ---------------------------------- -->

<ul id="slide-out" class="side-nav fixed">

    {% if app.session.get('userName') is not null %}

        <li>
            <div class="background-logged">
                <div class="user-view">

                    <a href="#!user"><img class="circle" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/20767735_1634982593192961_209014930482741611_n.jpg?oh=05cdc29ff8b2698d5d8c0927a15c5a51&oe=5B36D7D2"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </div>
        </li>


    {% else %}

        <li>
            <div class="background">
                <a class="waves-effect waves-light btn " id="connexion">Connexion</a>
                <a class="waves-effect waves-light btn " id="inscription">inscription</a>
            </div>
        </li>


    {% endif %}


    <li><a class="waves-effect tooltipped " data-tooltip="Ici vous pouvez mettre en vente vos plats fait maison :)" href="#!">Partagez vos plats !</a></li>
    <li><a class="waves-effect" href="#!">Vos ventes en cours</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">perm_identity</i>Votre Profil</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">timeline</i>Satistique</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">search</i>Recherche</a></li>


    {% include 'components/_filtre-accueil.html.twig' %}

</ul>


<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


