{#             ONGLET & MENU             #}

<div class="onglet-retour-container">
    <a class="onglet onglet-retour"></a>
</div>

<div class="onglet-menu-container">
    <a class="onglet onglet-menu"></a>
</div>
