
<!-- ---------------------------------- SIDEBAR ---------------------------------- -->


<div class="row">

    <div class="col s2 offset-s12 z-depth-3 hide-on-med-and-down" id="sidebar">
        <img src="https://i.imgur.com/LZUvLF5.png" alt="" class="circle responsive-img" id="logo"> <!-- notice the "circle" class -->
        <div class="meilleurcuisto" id="meilleur" >
            <h5> Top <i class="small material-icons">looks_one</i> : </h5>
            <p>
                CONTENU :
                WWWWWWWWWWWW
                WWWWWWWWWWWW
                WWWWWWWWWWWW
                WWWWWWWWWWWW
                WWWWWWWWWWWW
            </p>
        </div>
        <div class="recettedumoment" id="recette">

            <h5> LA Recette <i class="small material-icons">restaurant_menu</i> </h5>
            <p> retouver ici la recette du moment en détail et leurs créateurs</p>
           <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
            wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
            wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwws
            wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
            wwwwwwwwwwwwbitewwwwwwwwwwwbitewwwwwwwwwwwww
           </p>

        </div>




    </div>



</div>