{% block menu %}
        <div class="optn-backpage">
            <div class="optn-container col-xs-12">
                <a class="optn" href="{{ url('searchRecette') }}">Chercher une nouvelle Recette</a>
                <a class="optn" href="{{ url('index') }}">Mes Recettes</a>
                <a class="optn" href="{{ url('editor') }}">Editeur de Recettes</a>
                <a class="optn" href="{{ url('personnalisation') }}">Personalisation </a>
            </div>
        </div>
{% endblock %}